@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background: #eeeeee;
}
* body .container {
  border: 2px solid red;
}
* body .container header {
  background: #ffffff;
  box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
}
* body .container header .header_logo {
  padding: 19px 24px;
}
* body .container header nav ul {
  display: flex;
  gap: 46px;
}
* body .container header nav ul li {
  padding-top: 22px;
  list-style-type: none;
}
* body .container header nav ul li span {
  padding-right: 13px;
}
* body .container header nav ul li a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #011f3a;
  position: relative;
}
* body .container header nav ul li a::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f2ae4d;
  transition: all 0.4s;
}
* body .container header nav ul li a:hover {
  color: #3d5675;
}
* body .container header nav ul li a:hover::before {
  width: 100%;
}
* body .container header .header_icon {
  display: flex;
  gap: 25px;
}
* body .container header .header_icon h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #011f3a;
  padding-top: 22px;
  position: relative;
}
* body .container header .header_icon h5::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f2ae4d;
  transition: all 0.4s;
}
* body .container header .header_icon h5:hover {
  color: #3d5675;
  cursor: pointer;
}
* body .container header .header_icon h5:hover::before {
  width: 100%;
}
* body .container header .header_icon span {
  padding-top: 19px;
  margin-right: 18px;
}
* body .container header .header_icon span i {
  width: 24px;
  height: 24px;
}
* body .container main .section_fast {
  background: #f2ae4d;
}
* body .container main .section_fast .section_fast_one {
  display: flex;
  justify-content: space-between;
}
* body .container main .section_fast .section_fast_one .section_fast_one_item:nth-of-type(1) {
  padding-left: 120px;
}
* body .container main .section_fast .section_fast_one .section_fast_one_item:nth-of-type(1) h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #011f3a;
  padding-top: 165px;
}
* body .container main .section_fast .section_fast_one .section_fast_one_item:nth-of-type(1) p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #011f3a;
  padding-top: 33px;
}
* body .container main .section_fast .section_fast_one .section_fast_one_item:nth-of-type(1) button {
  margin-top: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 19px 29px;
  background: #3d5675;
  border: 1px solid #3d5675;
  border-radius: 44px;
  transition: all 0.4s;
}
* body .container main .section_fast .section_fast_one .section_fast_one_item:nth-of-type(1) button:hover {
  background-color: #ffffff;
  border: 1px solid #3d5675;
  color: #3d5675;
  transition: all 0.4s;
}
* body .container main .section_fast .section_fast_one .section_fast_one_item:nth-of-type(2) {
  margin-top: 87px;
  width: 504px;
  height: 504px;
}
* body .container main .section_fast .section_fast_one .section_fast_one_item:nth-of-type(2) img {
  width: 100%;
  height: 100%;
}
* body .container main .section_fast .section_fast_two {
  margin-top: 98px;
  padding-top: 20px;
  padding-left: 120px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
* body .container main .section_fast .section_fast_two .section_fast_two_item {
  display: flex;
  gap: 16px;
}
* body .container main .section_fast .section_fast_two .section_fast_two_item span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.6px;
  color: #a1a1a1;
  display: flex;
  align-items: center;
}
* body .container main .section_product {
  padding-left: 120px;
  padding-top: 57px;
  margin-top: 20px;
  padding-right: 120px;
  background: #eeeeee;
}
* body .container main .section_product .section_product_one {
  display: flex;
  justify-content: space-between;
}
* body .container main .section_product .section_product_one h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #011f3a;
}
* body .container main .section_product .section_product_one button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #ffffff;
  background: #3d5675;
  border: 1px solid #3d5675;
  border-radius: 44px;
  padding: 13px 25px;
  transition: all 0.4s;
}
* body .container main .section_product .section_product_one button:hover {
  background-color: #ffffff;
  border: 1px solid #3d5675;
  color: #3d5675;
  transition: all 0.4s;
}
* body .container main .section_product .section_product_two {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
}
* body .container main .section_product .section_product_two .section_product_two_item .section_product_two_item_img {
  width: 398px;
  height: 302px;
}
* body .container main .section_product .section_product_two .section_product_two_item .section_product_two_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_product .section_product_two .section_product_two_item h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.36px;
  color: #011f3a;
  padding-top: 24px;
  padding-left: 25px;
}
* body .container main .section_product .section_product_two .section_product_two_item .section_product_two_item_text {
  display: flex;
  justify-content: space-between;
}
* body .container main .section_product .section_product_two .section_product_two_item .section_product_two_item_text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #777777;
  padding-top: 8px;
  padding-left: 25px;
}
* body .container main .section_product .section_product_two .section_product_two_item .section_product_two_item_text span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: #a1a1a1;
  padding-right: 25px;
}
* body .container main .section_product .section_product_two .section_product_two_item:nth-of-type(1) {
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}
* body .container main .section_product .section_product_two .section_product_two_item:nth-of-type(2) {
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}
* body .container main .section_product .section_product_two .section_product_two_item:nth-of-type(3) {
  border-bottom: 2px solid #ededed;
}
* body .container main .section_product .section_product_two .section_product_two_item:nth-of-type(4) {
  border-right: 2px solid #ededed;
}
* body .container main .section_product .section_product_two .section_product_two_item:nth-of-type(5) {
  border-right: 2px solid #ededed;
}
* body .container main .section_product .section_product_three {
  background: #eeeeee;
  padding-top: 46px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
* body .container main .section_product .section_product_three span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #a1a1a1;
}
* body .container main .section_product .section_product_three button {
  padding: 13px 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3d5675;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 44px;
  transition: all 0.4s;
}
* body .container main .section_product .section_product_three button:hover {
  background-color: #3d5675;
  border: 1px solid #3d5675;
  color: #ffffff;
  transition: all 0.4s;
}
* body .container main .section_order {
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 88px;
  margin-top: 70px;
  padding-top: 88px;
  padding-left: 50px;
  padding-right: 50px;
  background: #72bda3;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0px;
}
* body .container main .section_order h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #011f3a;
}
* body .container main .section_order .section_order_grid {
  gap: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
* body .container main .section_order .section_order_grid .section_order_one {
  margin-top: 46px;
}
* body .container main .section_order .section_order_grid .section_order_one .section_order_one_img {
  width: 300px;
  height: 300px;
}
* body .container main .section_order .section_order_grid .section_order_one .section_order_one_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
* body .container main .section_order .section_order_grid .section_order_one h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #011f3a;
  padding-top: 12px;
}
* body .container main .section_order .section_order_grid .section_order_one p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #3d5675;
  padding-top: 10px;
}
* body .container main .section_order .section_order_button {
  display: flex;
  justify-content: center;
}
* body .container main .section_order .section_order_button button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #ffffff;
  background: #3d5675;
  border: 1px solid #3d5675;
  border-radius: 44px;
  padding: 13px 25px;
  margin-top: 74px;
  transition: all 0.4s;
}
* body .container main .section_order .section_order_button button:hover {
  transition: all 0.4s;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #3d5675;
}
* body .container main .section_arka {
  margin-top: 70px;
  padding-top: 88px;
  padding-left: 162px;
}
* body .container main .section_arka h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #011f3a;
  padding-bottom: 82px;
}
* body .container main .section_arka .section_arka_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
* body .container main .section_arka .section_arka_grid .section_arka_one .section_arka_one_img {
  width: 254px;
  height: 254px;
}
* body .container main .section_arka .section_arka_grid .section_arka_one .section_arka_one_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_arka .section_arka_grid .section_arka_one h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.36px;
  padding-top: 54px;
  color: #011f3a;
}
* body .container main .section_arka .section_arka_grid .section_arka_one p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-top: 12px;
  color: #a1a1a1;
}
* body .container main .section_request {
  padding-top: 110px;
  padding-bottom: 90px;
  background: #ffca3a;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0px;
  margin-top: 200px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-around;
}
* body .container main .section_request .section_request_one .section_request_one_img {
  padding-left: 80px;
  width: 210px;
  height: 210px;
}
* body .container main .section_request .section_request_one .section_request_one_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_request .section_request_one h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #011f3a;
  padding-top: 24px;
}
* body .container main .section_request .section_request_one p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  padding-top: 14px;
  color: #3d5675;
}
* body .container main .section_request .section_request_one .section_request_one_button {
  display: flex;
  justify-content: center;
}
* body .container main .section_request .section_request_one .section_request_one_button button {
  margin-top: 10px;
  padding: 13px 25px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3d5675;
  transition: all 0.4s;
}
* body .container main .section_request .section_request_one .section_request_one_button button:hover {
  transition: all 0.4s;
  color: #ffffff;
  background-color: #3d5675;
  border: 1px solid #3d5675;
}
* body .container main .section_merchants .section_merchants_color h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #011f3a;
  padding-top: 148px;
  padding-bottom: 59px;
}
* body .container main .section_merchants .section_merchants_child {
  background: #ffffff;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 120px;
  margin-left: 120px;
  padding-top: 100px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(1) {
  display: flex;
  justify-content: center;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(1) .section_merchants_child_item_img {
  width: 207px;
  height: 114px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(1) .section_merchants_child_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(2) .section_merchants_child_item_img {
  width: 246px;
  height: 114px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(2) .section_merchants_child_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(3) .section_merchants_child_item_img {
  margin-top: 100px;
  margin-left: 0;
  width: 588px;
  height: 294px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(3) .section_merchants_child_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(4) p {
  padding-left: 106px;
  padding-top: 164px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #011f3a;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(4) .section_merchants_child_item_row {
  display: flex;
  padding-left: 106px;
  padding-top: 12px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(4) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) {
  display: flex;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(4) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) h4 {
  padding-top: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #011f3a;
  padding-left: 20px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(4) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #a1a1a1;
  padding-left: 20px;
  padding-top: 4px;
  transform: translate(-62px, 25px);
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(4) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(2) button {
  display: flex;
  align-items: end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3d5675;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 44px;
  padding: 13px 25px;
  transition: all 0.4s;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(4) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(2) button:hover {
  transition: all 0.4s;
  color: #f2f2f2;
  background-color: #3d5675;
  border: 1px solid #3d5675;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(5) p {
  padding-left: 106px;
  padding-top: 119px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #011f3a;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(5) .section_merchants_child_item_row {
  display: flex;
  padding-left: 106px;
  padding-top: 12px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(5) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) {
  display: flex;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(5) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) h4 {
  padding-top: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #011f3a;
  padding-left: 20px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(5) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #a1a1a1;
  padding-left: 20px;
  padding-top: 4px;
  transform: translate(-62px, 25px);
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(5) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(2) button {
  display: flex;
  align-items: end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3d5675;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 44px;
  padding: 13px 25px;
  transition: all 0.4s;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(5) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(2) button:hover {
  transition: all 0.4s;
  color: #f2f2f2;
  background-color: #3d5675;
  border: 1px solid #3d5675;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(6) {
  padding-top: 55px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(6) .section_merchants_child_item_img {
  width: 588px;
  height: 294px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(6) .section_merchants_child_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(7) {
  padding-top: 55px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(7) .section_merchants_child_item_img {
  width: 588px;
  height: 294px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(7) .section_merchants_child_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(8) p {
  padding-left: 106px;
  padding-top: 119px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #011f3a;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(8) .section_merchants_child_item_row {
  display: flex;
  padding-left: 106px;
  padding-top: 12px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(8) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) {
  display: flex;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(8) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) h4 {
  padding-top: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #011f3a;
  padding-left: 20px;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(8) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(1) h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #a1a1a1;
  padding-left: 20px;
  padding-top: 4px;
  transform: translate(-62px, 25px);
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(8) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(2) button {
  display: flex;
  align-items: end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3d5675;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 44px;
  padding: 13px 25px;
  transition: all 0.4s;
}
* body .container main .section_merchants .section_merchants_child .section_merchants_child_item:nth-of-type(8) .section_merchants_child_item_row .section_merchants_child_item_row_col:nth-of-type(2) button:hover {
  transition: all 0.4s;
  color: #f2f2f2;
  background-color: #3d5675;
  border: 1px solid #3d5675;
}
* body .container main .section_design {
  padding-top: 120px;
  padding-bottom: 137px;
}
* body .container main .section_design h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  color: #011f3a;
}
* body .container main .section_design .section_design_grid {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  gap: 11px;
}
* body .container main .section_design .section_design_grid .section_design_item:nth-of-type(1) button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #ffffff;
  background: #3d5675;
  border: 1px solid #3d5675;
  border-radius: 44px;
  padding: 13px 25px;
  transition: all 0.4s;
}
* body .container main .section_design .section_design_grid .section_design_item:nth-of-type(1) button:hover {
  transition: all 0.4s;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #3d5675;
  border: 1px solid #3d5675;
}
* body .container main .section_design .section_design_grid .section_design_item:nth-of-type(2) button {
  padding: 13px 25px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3d5675;
  transition: all 0.4s;
}
* body .container main .section_design .section_design_grid .section_design_item:nth-of-type(2) button:hover {
  transition: all 0.4s;
  color: #ffffff;
  background-color: #3d5675;
  border: 1px solid #3d5675;
}
* body .container footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #f2f3f4;
  border-radius: 0px;
  padding-top: 60px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 77px;
}
* body .container footer .footer_item:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}
* body .container footer .footer_item:nth-of-type(2) span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #3d5675;
  position: relative;
  cursor: pointer;
}
* body .container footer .footer_item:nth-of-type(2) span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3d5675;
  transition: all 0.4s;
}
* body .container footer .footer_item:nth-of-type(2) span:hover {
  color: #3d5675;
}
* body .container footer .footer_item:nth-of-type(2) span:hover::before {
  width: 50%;
}
* body .container footer .footer_item:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}
* body .container footer .footer_item:nth-of-type(3) span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #3d5675;
  position: relative;
  cursor: pointer;
}
* body .container footer .footer_item:nth-of-type(3) span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3d5675;
  transition: all 0.4s;
}
* body .container footer .footer_item:nth-of-type(3) span:hover {
  color: #3d5675;
}
* body .container footer .footer_item:nth-of-type(3) span:hover::before {
  width: 50%;
}
* body .container footer .footer_item:nth-of-type(4) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}
* body .container footer .footer_item:nth-of-type(4) span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #3d5675;
  position: relative;
  cursor: pointer;
}
* body .container footer .footer_item:nth-of-type(4) span::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3d5675;
  transition: all 0.4s;
}
* body .container footer .footer_item:nth-of-type(4) span:hover {
  color: #3d5675;
}
* body .container footer .footer_item:nth-of-type(4) span:hover::before {
  width: 50%;
}
* body .container footer .footer_item:nth-of-type(4) .footer_item_child img:nth-of-type(1) {
  padding-right: 11px;
}
* body .container footer .footer_item:nth-of-type(4) .footer_item_child img:nth-of-type(2) {
  padding-right: 11px;
}
* body .container footer .footer_item:nth-of-type(5) span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #3d5675;
  position: relative;
  cursor: pointer;
}
* body .container footer .footer_item:nth-of-type(5) span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3d5675;
  transition: all 0.4s;
}
* body .container footer .footer_item:nth-of-type(5) span:hover {
  color: #3d5675;
}
* body .container footer .footer_item:nth-of-type(5) span:hover::before {
  width: 100%;
}
* body .container footer .footer_item:nth-of-type(5) input {
  margin-top: 13px;
  margin-bottom: 12px;
  padding: 9px 18px;
  padding-right: 100px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 34px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: start;
  color: rgba(61, 86, 117, 0.4);
}
* body .container footer .footer_item:nth-of-type(5) button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #ffffff;
  background: #3d5675;
  border: 1px solid #3d5675;
  border-radius: 44px;
  padding: 13px 25px;
  transition: all 0.4s;
}
* body .container footer .footer_item:nth-of-type(5) button:hover {
  transition: all 0.4s;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #3d5675;
  border: 1px solid #3d5675;
}
@media screen and (min-width: 1440) {
  * body {
    width: 1440px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */